# Part 1 Data Cleaning

Data set link https://www.kaggle.com/datasets/shashwatwork/dataco-smart-supply-chain-for-big-data-analysis

In [3]:
#importing all the necessary libraries 
import numpy as np
import pandas as pd
import os 
import datetime as dt
import math
import seaborn as sns

In [4]:
# Reading and storing the csv file in a Data Frame  
df=pd.read_csv('DataCoSupplyChainDataset.csv',header= 0,encoding='unicode_escape')
df=pd.DataFrame(df)

In [5]:
df.shape

(180519, 53)

In [6]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

### First 5 rows of the data frame

In [7]:
df.head(5)

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [8]:
#Checking for null values
df.isnull().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [9]:
#Droping the columns with maximum null values 
df=df.drop(columns=['Order Zipcode','Product Description'],axis=1)

In [10]:
#Droping the unnecesarry columns 
df=df.drop(columns=['Product Image','Customer Email','Customer Fname','Customer Lname','Customer Password','Product Status','Customer Street'],axis=1)

In [11]:
#Checking whether two columns have the same values 
x=df['Product Price']
y=df['Order Item Product Price']
if x.all()==y.all():
    print("Both are same")
else:
    print("Not the same")

Both are same

In [12]:
#Droping one column sice they are the same 
df=df.drop(columns=['Order Item Product Price'],axis=1)

In [13]:
#changing all dates from object type to datetime 
df['order date (DateOrders)']= pd.to_datetime(df['order date (DateOrders)'])

In [14]:
#changing all dates from object type to datetime 
df['shipping date (DateOrders)']= pd.to_datetime(df['shipping date (DateOrders)'])

In [15]:
#droping days of shipping column because the staus of delivery available 
df=df.drop(columns=['Days for shipping (real)'],axis=1)
df=df.drop(columns=['Days for shipment (scheduled)'],axis=1)

In [16]:
#droping other unnecesarry columns and columns with duplicate values under different name 
df=df.drop(columns='Latitude',axis=1)
df=df.drop(columns='Longitude',axis=1)
df=df.drop(columns='Benefit per order',axis=1)
df=df.drop(columns='Order Customer Id',axis=1)
df=df.drop(columns='Order Item Cardprod Id',axis=1)
df=df.drop(columns='Product Category Id',axis=1)
df=df.drop(columns='Order Item Id',axis=1)
df=df.drop(columns='Sales per customer',axis=1)

### Checking the remaining columns

In [17]:
df.columns

Index(['Type', 'Delivery Status', 'Late_delivery_risk', 'Category Id',
       'Category Name', 'Customer City', 'Customer Country', 'Customer Id',
       'Customer Segment', 'Customer State', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Market', 'Order City',
       'Order Country', 'order date (DateOrders)', 'Order Id',
       'Order Item Discount', 'Order Item Discount Rate',
       'Order Item Profit Ratio', 'Order Item Quantity', 'Sales',
       'Order Item Total', 'Order Profit Per Order', 'Order Region',
       'Order State', 'Order Status', 'Product Card Id', 'Product Name',
       'Product Price', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [18]:
df.shape

(180519, 33)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 33 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Type                        180519 non-null  object
 1   Delivery Status             180519 non-null  object
 2   Late_delivery_risk          180519 non-null  int64
 3   Category Id                 180519 non-null  int64
 4   Category Name               180519 non-null  object
 5   Customer City               180519 non-null  object
 6   Customer Country            180519 non-null  object
 7   Customer Id                 180519 non-null  int64
 8   Customer Segment            180519 non-null  object
 9   Customer State              180519 non-null  object
 10  Customer Zipcode            180516 non-null  float64
 11  Department Id               180519 non-null  int64
 12  Department Name             180519 non-null  object
 13  Market                      180519 non-null  object
 14  Order City                  180519 non-null  object
 15  Order Country               180519 non-null  object
 16  order date (DateOrders)     180519 non-null  datetime64[ns]
 17  Order Id                    180519 non-null  int64
 18  Order Item Discount         180519 non-null  float64
 19  Order Item Discount Rate    180519 non-null  float64
 20  Order Item Profit Ratio     180519 non-null  float64
 21  Order Item Quantity         180519 non-null  int64
 22  Sales                       180519 non-null  float64
 23  Order Item Total            180519 non-null  float64
 24  Order Profit Per Order      180519 non-null  float64
 25  Order Region                180519 non-null  object
 26  Order State                 180519 non-null  object
 27  Order Status                180519 non-null  object
 28  Product Card Id             180519 non-null  int64
 29  Product Name                180519 non-null  object
 30  Product Price               180519 non-null  float64
 31  shipping date (DateOrders)  180519 non-null  datetime64[ns]
 32  Shipping Mode               180519 non-null  object
dtypes: datetime64[ns](2), float64(8), int64(7), object(16)
memory usage: 45.4+ MB

### Checking value counts and unique values per column

In [20]:
df['Type'].value_counts()

Type
DEBIT       69295
TRANSFER    49883
PAYMENT     41725
CASH        19616
Name: count, dtype: int64

In [21]:
df['Delivery Status'].value_counts()

Delivery Status
Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: count, dtype: int64

In [22]:
df['Late_delivery_risk'].value_counts()

Late_delivery_risk
1    98977
0    81542
Name: count, dtype: int64

In [23]:
df['Category Id'].nunique()

51

In [24]:
df['Category Name'].value_counts()

Category Name
Cleats                  24551
Men's Footwear          22246
Women's Apparel         21035
Indoor/Outdoor Games    19298
Fishing                 17325
Water Sports            15540
Camping & Hiking        13729
Cardio Equipment        12487
Shop By Sport           10984
Electronics              3156
Accessories              1780
Golf Balls               1475
Girls' Apparel           1201
Golf Gloves              1070
Trade-In                  974
Video Games               838
Children's Clothing       652
Women's Clothing          650
Baseball & Softball       632
Hockey                    614
Cameras                   592
Toys                      529
Golf Shoes                524
Pet Supplies              492
Crafts                    484
Garden                    484
DVDs                      483
Computers                 442
Golf Apparel              441
Hunting & Shooting        440
Music                     434
Consumer Electronics      431
Boxing & MMA              423
Books                     405
Kids' Golf Clubs          384
Health and Beauty         362
Sporting Goods            357
Lacrosse                  343
Tennis & Racquet          328
Fitness Accessories       309
Men's Golf Clubs          283
CDs                       271
Men's Clothing            208
Baby                      207
Women's Golf Clubs        181
Soccer                    138
Strength Training         111
As Seen on  TV!            68
Basketball                 67
Golf Bags & Carts          61
Name: count, dtype: int64

In [25]:
df['Category Name'].nunique()

50

In [26]:
df['Customer City'].value_counts()

Customer City
Caguas         66770
Chicago         3885
Los Angeles     3417
Brooklyn        3412
New York        1816
               ...
Bartlett          25
Ponce             22
Malden            22
Freehold          13
CA                 3
Name: count, Length: 563, dtype: int64

In [27]:
df['Customer City'].nunique()

563

In [28]:
df['Customer Country'].value_counts()

Customer Country
EE. UU.        111146
Puerto Rico     69373
Name: count, dtype: int64

In [29]:
df['Customer Id'].value_counts()

Customer Id
5654     47
10591    45
5004     45
5715     44
9371     44
         ..
14615     1
13660     1
12786     1
13956     1
20755     1
Name: count, Length: 20652, dtype: int64

In [30]:
df['Customer Id'].nunique()

20652

In [31]:
df['Customer Segment'].value_counts()

Customer Segment
Consumer       93504
Corporate      54789
Home Office    32226
Name: count, dtype: int64

In [32]:
df['Customer State'].value_counts()

Customer State
PR       69373
CA       29223
NY       11327
TX        9103
IL        7631
FL        5456
OH        4095
PA        3824
MI        3804
NJ        3191
AZ        3026
GA        2503
MD        2415
NC        1992
CO        1914
VA        1849
OR        1668
MA        1607
TN        1582
NV        1440
MO        1354
HI        1248
CT        1094
UT         968
NM         949
LA         948
WA         920
WI         850
MN         672
SC         665
IN         581
DC         579
KY         487
KS         458
DE         269
RI         243
WV         241
OK         232
ND         215
ID         167
AR         164
MT          87
IA          67
AL          35
95758        2
91732        1
Name: count, dtype: int64

In [33]:
df['Department Id'].value_counts()

Department Id
7     66861
4     48998
5     33220
3     14525
6      9686
2      2479
9      2026
10     1465
11      492
8       405
12      362
Name: count, dtype: int64

In [34]:
df['Department Name'].value_counts()

Department Name
Fan Shop              66861
Apparel               48998
Golf                  33220
Footwear              14525
Outdoors               9686
Fitness                2479
Discs Shop             2026
Technology             1465
Pet Shop                492
Book Shop               405
Health and Beauty       362
Name: count, dtype: int64

In [35]:
df['Market'].value_counts()

Market
LATAM           51594
Europe          50252
Pacific Asia    41260
USCA            25799
Africa          11614
Name: count, dtype: int64

In [36]:
df['Order City'].value_counts()

Order City
Santo Domingo    2211
New York City    2202
Los Angeles      1845
Tegucigalpa      1783
Managua          1682
                 ...
Detmold             1
Korhogo             1
Samalut             1
Libourne            1
Wendeng             1
Name: count, Length: 3597, dtype: int64

In [37]:
df['Order City'].nunique()

3597

In [38]:
df['Order Country'].value_counts()

Order Country
Estados Unidos       24840
Francia              13222
México               13172
Alemania              9564
Australia             8497
                     ...
Kuwait                   2
Sáhara Occidental        2
Guinea Ecuatorial        2
Burundi                  1
Serbia                   1
Name: count, Length: 164, dtype: int64

In [39]:
df['Order Country'].nunique()

164

In [40]:
df['order date (DateOrders)'].nunique()

65752

In [41]:
df['Order Id'].value_counts()

Order Id
50290    5
6222     5
47432    5
36535    5
37992    5
        ..
77202    1
28117    1
28139    1
28144    1
28232    1
Name: count, Length: 65752, dtype: int64

In [42]:
df['Order Id'].nunique()

65752

In [43]:
df['Order Item Discount'].value_counts()

Order Item Discount
0.000000      10028
6.000000       4589
12.000000      4067
4.000000       3647
8.000000       3626
              ...
50.490002         1
85.489998         1
140.000000        1
33.660000         1
61.189999         1
Name: count, Length: 1017, dtype: int64

In [44]:
df['Order Item Discount'].nunique()

1017

In [45]:
df['Order Item Discount Rate'].value_counts()

Order Item Discount Rate
0.04    10029
0.05    10029
0.06    10029
0.07    10029
0.09    10029
0.10    10029
0.12    10029
0.13    10029
0.15    10029
0.16    10029
0.17    10029
0.18    10029
0.20    10029
0.25    10029
0.03    10029
0.00    10028
0.01    10028
0.02    10028
Name: count, dtype: int64

In [46]:
df['Order Item Profit Ratio'].value_counts()

Order Item Profit Ratio
 0.48    9197
 0.35    7997
 0.26    6577
 0.34    6507
 0.47    6378
         ...
-1.37      18
-0.93      18
-0.90      18
-2.30      18
-2.10      18
Name: count, Length: 162, dtype: int64

In [47]:
df['Order Item Profit Ratio'].nunique()

162

In [48]:
df['Order Item Quantity'].value_counts()

Order Item Quantity
1    99134
5    20385
3    20350
4    20335
2    20315
Name: count, dtype: int64

In [49]:
df['Sales'].value_counts()

Sales
129.990005    22372
399.980011    17325
199.990005    15622
299.980011    13729
179.970001     5016
              ...
999.989990       10
379.959992       10
99.000000         9
198.000000        9
396.000000        9
Name: count, Length: 193, dtype: int64

In [50]:
df['Sales'].nunique()

193

In [51]:
df['Order Item Total'].value_counts()

Order Item Total
122.839996    1264
109.190002    1247
116.989998    1243
120.889999    1243
123.489998    1243
              ...
250.770004       1
163.779999       1
224.889999       1
380.160004       1
197.899994       1
Name: count, Length: 2927, dtype: int64

In [52]:
df['Order Item Total'].nunique()

2927

In [53]:
df['Order Profit Per Order'].value_counts()

Order Profit Per Order
 0.000000      1177
 143.990005     199
 72.000000      194
 46.799999      188
 24.000000      181
               ...
-212.410004       1
-18.959999        1
 177.169998       1
 130.979996       1
-196.179993       1
Name: count, Length: 21998, dtype: int64

In [54]:
df['Order Region'].value_counts()

Order Region
Central America    28341
Western Europe     27109
South America      14935
Oceania            10148
Northern Europe     9792
Southeast Asia      9539
Southern Europe     9431
Caribbean           8318
West of USA         7993
South Asia          7731
Eastern Asia        7280
East of USA         6915
West Asia           6009
US Center           5887
South of  USA       4045
Eastern Europe      3920
West Africa         3696
North Africa        3232
East Africa         1852
Central Africa      1677
Southern Africa     1157
Canada               959
Central Asia         553
Name: count, dtype: int64

In [55]:
df['Order State'].value_counts()

Order State
Inglaterra                     6722
California                     4966
Isla de Francia                4580
Renania del Norte-Westfalia    3303
San Salvador                   3055
                               ...
Vrancea                           1
Suceava                           1
Mie                               1
Iringa                            1
Serbia Central                    1
Name: count, Length: 1089, dtype: int64

In [56]:
df['Order Status'].value_counts()

Order Status
COMPLETE           59491
PENDING_PAYMENT    39832
PROCESSING         21902
PENDING            20227
CLOSED             19616
ON_HOLD             9804
SUSPECTED_FRAUD     4062
CANCELED            3692
PAYMENT_REVIEW      1893
Name: count, dtype: int64

In [57]:
df['Product Card Id'].value_counts()

Product Card Id
365     24515
403     22246
502     21035
1014    19298
1004    17325
        ...
127        27
208        15
860        11
60         10
226        10
Name: count, Length: 118, dtype: int64

In [58]:
df['Product Card Id'].nunique()

118

In [59]:
df['Product Name'].value_counts()

Product Name
Perfect Fitness Perfect Rip Deck                 24515
Nike Men's CJ Elite 2 TD Football Cleat          22246
Nike Men's Dri-FIT Victory Golf Polo             21035
O'Brien Men's Neoprene Life Vest                 19298
Field & Stream Sportsman 16 Gun Fire Safe        17325
                                                 ...
Stiga Master Series ST3100 Competition Indoor       27
SOLE E35 Elliptical                                 15
Bushnell Pro X7 Jolt Slope Rangefinder              11
SOLE E25 Elliptical                                 10
Bowflex SelectTech 1090 Dumbbells                   10
Name: count, Length: 118, dtype: int64

In [60]:
df['Product Name'].nunique()

118

In [61]:
df['Product Price'].value_counts()

Product Price
59.990002      24820
129.990005     22372
50.000000      21035
49.980000      19298
399.980011     17325
               ...
349.989990        40
329.989990        27
599.989990        21
1999.989990       15
999.989990        10
Name: count, Length: 75, dtype: int64

In [62]:
df['Product Price'].nunique()

75

In [63]:
df['Shipping Mode'].value_counts()

Shipping Mode
Standard Class    107752
Second Class       35216
First Class        27814
Same Day            9737
Name: count, dtype: int64

### Creating a new column to read Profit or Loss

In [64]:
df.loc[df['Order Item Profit Ratio']>0, 'Profits'] = 'Profit'

In [65]:
df.loc[df['Order Item Profit Ratio']<0, 'Profits'] = 'Loss'

In [66]:
df.loc[df['Order Item Profit Ratio']==0, 'Profits'] = 'None'

In [67]:
df['Profits'].value_counts()

Profits
Profit    145558
Loss       33784
None        1177
Name: count, dtype: int64

In [68]:
#droping profit ratio 
df=df.drop(columns='Order Item Profit Ratio',axis=1)

In [69]:
#droping Customer Zipcode 
df=df.drop(columns='Customer Zipcode',axis=1)

In [70]:
#checking nulls 
df.isnull().sum()

Type                          0
Delivery Status               0
Late_delivery_risk            0
Category Id                   0
Category Name                 0
Customer City                 0
Customer Country              0
Customer Id                   0
Customer Segment              0
Customer State                0
Department Id                 0
Department Name               0
Market                        0
Order City                    0
Order Country                 0
order date (DateOrders)       0
Order Id                      0
Order Item Discount           0
Order Item Discount Rate      0
Order Item Quantity           0
Sales                         0
Order Item Total              0
Order Profit Per Order        0
Order Region                  0
Order State                   0
Order Status                  0
Product Card Id               0
Product Name                  0
Product Price                 0
shipping date (DateOrders)    0
Shipping Mode                 0
Profits                       0
dtype: int64

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 32 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Type                        180519 non-null  object
 1   Delivery Status             180519 non-null  object
 2   Late_delivery_risk          180519 non-null  int64
 3   Category Id                 180519 non-null  int64
 4   Category Name               180519 non-null  object
 5   Customer City               180519 non-null  object
 6   Customer Country            180519 non-null  object
 7   Customer Id                 180519 non-null  int64
 8   Customer Segment            180519 non-null  object
 9   Customer State              180519 non-null  object
 10  Department Id               180519 non-null  int64
 11  Department Name             180519 non-null  object
 12  Market                      180519 non-null  object
 13  Order City                  180519 non-null  object
 14  Order Country               180519 non-null  object
 15  order date (DateOrders)     180519 non-null  datetime64[ns]
 16  Order Id                    180519 non-null  int64
 17  Order Item Discount         180519 non-null  float64
 18  Order Item Discount Rate    180519 non-null  float64
 19  Order Item Quantity         180519 non-null  int64
 20  Sales                       180519 non-null  float64
 21  Order Item Total            180519 non-null  float64
 22  Order Profit Per Order      180519 non-null  float64
 23  Order Region                180519 non-null  object
 24  Order State                 180519 non-null  object
 25  Order Status                180519 non-null  object
 26  Product Card Id             180519 non-null  int64
 27  Product Name                180519 non-null  object
 28  Product Price               180519 non-null  float64
 29  shipping date (DateOrders)  180519 non-null  datetime64[ns]
 30  Shipping Mode               180519 non-null  object
 31  Profits                     180519 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(7), object(17)
memory usage: 44.1+ MB

### Checking for any zeros in order Item Total

In [72]:
xb = df[df['Order Item Total'] <= 0]
xb

Empty DataFrame
Columns: [Type, Delivery Status, Late_delivery_risk, Category Id, Category Name, Customer City, Customer Country, Customer Id, Customer Segment, Customer State, Department Id, Department Name, Market, Order City, Order Country, order date (DateOrders), Order Id, Order Item Discount, Order Item Discount Rate, Order Item Quantity, Sales, Order Item Total, Order Profit Per Order, Order Region, Order State, Order Status, Product Card Id, Product Name, Product Price, shipping date (DateOrders), Shipping Mode, Profits]
Index: []

[0 rows x 32 columns]

# Storing the cleaned data to a new csv and reading it

In [73]:
df.to_csv('cleanedDataCo.csv',index=False)

In [74]:
xf=pd.read_csv('cleanedDataCo.csv')

In [75]:
xf.head(10)

,Type,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,...,Order Profit Per Order,Order Region,Order State,Order Status,Product Card Id,Product Name,Product Price,shipping date (DateOrders),Shipping Mode,Profits
0,DEBIT,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,20755,Consumer,PR,...,91.250000,Southeast Asia,Java Occidental,COMPLETE,1360,Smart watch,327.75,2018-02-03 22:56:00,Standard Class,Profit
1,TRANSFER,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,19492,Consumer,PR,...,-249.089996,South Asia,Rajastán,PENDING,1360,Smart watch,327.75,2018-01-18 12:27:00,Standard Class,Loss
2,CASH,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,19491,Consumer,CA,...,-247.779999,South Asia,Rajastán,CLOSED,1360,Smart watch,327.75,2018-01-17 12:06:00,Standard Class,Loss
3,DEBIT,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,19490,Home Office,CA,...,22.860001,Oceania,Queensland,COMPLETE,1360,Smart watch,327.75,2018-01-16 11:45:00,Standard Class,Profit
4,PAYMENT,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,19489,Corporate,PR,...,134.210007,Oceania,Queensland,PENDING_PAYMENT,1360,Smart watch,327.75,2018-01-15 11:24:00,Standard Class,Profit
5,TRANSFER,Shipping canceled,0,73,Sporting Goods,Tonawanda,EE. UU.,19488,Consumer,NY,...,18.580000,Oceania,Queensland,CANCELED,1360,Smart watch,327.75,2018-01-19 11:03:00,Standard Class,Profit
6,DEBIT,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,19487,Home Office,PR,...,95.180000,Eastern Asia,Guangdong,COMPLETE,1360,Smart watch,327.75,2018-01-15 10:42:00,First Class,Profit
7,TRANSFER,Late delivery,1,73,Sporting Goods,Miami,EE. UU.,19486,Corporate,FL,...,68.430000,Eastern Asia,Guangdong,PROCESSING,1360,Smart watch,327.75,2018-01-15 10:21:00,First Class,Profit
8,CASH,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,19485,Corporate,PR,...,133.720001,Eastern Asia,Guangdong,CLOSED,1360,Smart watch,327.75,2018-01-16 10:00:00,Second Class,Profit
9,CASH,Late delivery,1,73,Sporting Goods,San Ramon,EE. UU.,19484,Corporate,CA,...,132.149994,Eastern Asia,Guangdong,CLOSED,1360,Smart watch,327.75,2018-01-15 09:39:00,First Class,Profit